application/databases/PageCarton/Cron/Run/table.xml
application/databases/Workplace/Authenticate/table.xml
application/databases/Workplace/Screenshot/table.xml
application/databases/Ayoola/Extension/Import/table.xml
application/databases/Application/notification.xml
application/databases/Ayoola/Access/localuser.xml
application/databases/Ayoola/Object/dbase.xml
application/databases/Ayoola/Object/widget.xml
application/databases/PageCarton/Cron/Run/table.xml
application/databases/Workplace/Authenticate/table.xml
application/databases/Workplace/Keylog/table.xml
application/databases/Application/__/
application/databases/workspace.xml
application/databases/Application/Log/
application/databases/Workplace/workspace.xml
application/databases/Application/Article/
application/databases/Application/Profile/
application/databases/Ayoola/Doc/
application/module_files/
.trash
application/modules/NativeApp/
application/modules/ProjectManager
application/pages/*/make-project-paymentcontent.*
application/modules/NativeApp.php
application/modules/ProjectManager.php
application/databases/*/__/*/extensions/
application/databases/*/*/__/dbase/extensions/project_manager.xml
application/databases/*/*/__/*/extensions/project_manager.xml
application/databases/*/*/*/__/*/extensions/project_manager.xml
application/databases/Ayoola/Page/page.xml
application/pages/data-backup/
extensions/
application/pages/*/*managed-project*.*
application/pages/*/make-project-payment*.*
application/documents/Grabbed-Websites/*
application/databases/PC/WebsiteGrabber/project.xml
